

a{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;

}

.main{
    font-family: 'Times New Roman', Times, serif;
    background-color:darkseagreen;
    color:black; 
    padding:10px;
    border:5px solid darkgreen;
    box-sizing: border-box;
    margin-right: 200px;

}

p{
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;
    background-color: red;
    font-size:22px
}

li{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 50;
    font-size:20px
}


.hyper{
    margin: 15px;
    display:block

}       

.mainlist{
    background-color: aliceblue;
    margin-right: 200px;
    padding: 15px;
    

}
